<div class="container">
    <header>
        <h1>Welcome to the Calorie Tracker app!</h1>
    </header>
    <main>
        <p>This app allows you to track your daily calorie intake and helps you stay on track with your fitness goals.
        </p>
        <form>
            <button class="login-button" type="button" (click)="redirectToLogin()">Login</button>
            <button class="register-button" type="button" (click)="redirectToRegister()">Register</button>
        </form>
    </main>
    <footer>
    </footer>
</div>