<div class="recipe-details">
    <div class="left">
        <img src="/assets/images/healthy-food-composition-with-alarm-clock.jpg" alt="">
        <div class="buttons">
        <button>Back</button>
        <button>Delete</button>
        <button>Edit</button>     
        </div>
    </div>
    <div class="right">
        <h1>Name: Hamburger</h1>
        <p>Spicy: Spicy</p>
        <p>Vegan: Non-vegan</p>
        <p>Difficulty: 5</p>
        <h2>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Iure quasi deleniti sequi dolore id laudantium consequuntur est distinctio ab repudiandae deserunt possimus, 
            atque dicta quam? Autem laudantium vel tempore ullam. </h2>
    </div>
</div>