<div class="recipe-details" *ngIf="(recipe$ | async) as recipe">
    <div class="img">
        <img [src]="recipe.picture" alt="">
    </div>
    <div class="info">
        <h1>Name: {{ recipe.name }}</h1>
        <span><i class="fa-sharp fa-solid fa-pepper-hot"></i> Spicy: {{ recipe.spicy }}</span>
        <span><i class="fa-sharp fa-solid fa-leaf"></i> Vegan: {{ recipe.vegan }}</span>
        <span><i class="fa-solid fa-star"></i> Difficulty: {{ recipe.difficulty }}</span>
    </div>
    <div class="description">
        <p>{{ recipe.description }}</p>
    </div>
    <div class="buttons">
        <button (click)="redirectToRecipes()">Back</button>
        <button *ngIf="isOwner" (click)="confirmDelete()">Delete</button>

        <button *ngIf="isOwner">Edit</button>
    </div>
</div>
