.calorie-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 960px;
}

.error {
    font-size: 1rem;
    color: red;
    margin-top: 1rem;
}

.text-container {
    width: 100%;
    max-width: 480px;
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 3rem;
}

.form-container {
    width: 100%;
    max-width: 480px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #4CAF50;
    border: 0;
    border-radius: 30px;
    outline: none;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #1a237e;
}

.instructions,
.exercise-descriptions,
.formula-explanation {
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .content-container {
        max-width: 400px;
    }
}

@media screen and (max-width: 550px) {
    .content-container {
        max-width: 300px;
    }
}