.body {
    width: calc(100% - 5rem);
    height: calc(100vh - 3rem);
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    background: #f4f7fa;
    padding: 3rem;
    overflow-y: auto;
  }

.body-trimmed {
    width: calc(100% - 16.5625em);
    margin-left: 16.5625em;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

