<div class="register-container">
    <form class="form">
        <h2 class="h2">Register</h2>
        <label class="label" for="email">Email</label>
        <input class="input" type="email" id="register-email" name="email" placeholder="Enter your email" />
        <label class="label" for="password">Password</label>
        <input class="input" type="password" id="register-password" name="password" placeholder="Enter your password" />
        <label class="label" for="confirm-password">Confirm Password</label>
        <input class="input" type="password" id="confirm-password" name="confirm-password"
            placeholder="Confirm your password" />
        <button class="button" type="submit">Register</button>
        <div class="already-have-account">
            <p>Already have an account? <a routerLink="/login">Login here</a></p>
        </div>
    </form>
</div>