<div class="statistics">
  <div class="update-form-box">
    <h2 class="image-update-h2">Update Nutrition</h2>
    <form id="nutritionForm" class="update-input-group" (submit)="updateNutrition()">
      <input type="text" name="dailyCalories" class="update-input-field" placeholder="Daily Calories"
        [(ngModel)]="dailyCalories" />
      <input type="text" name="proteins" class="update-input-field" placeholder="Proteins" [(ngModel)]="proteins" />
      <input type="text" name="carbs" class="update-input-field" placeholder="Carbs" [(ngModel)]="carbs" />
      <input type="text" name="fats" class="update-input-field" placeholder="Fats" [(ngModel)]="fats" />
      <input type="text" name="dailyWaterIntake" class="update-input-field" placeholder="Daily Water Intake"
        [(ngModel)]="dailyWaterIntake" />
      <button type="submit" class="update-submit-btn">Update</button>
    </form>
  </div>

  <div class="update-form-box">
    <h2 class="image-update-h2">Update Weight</h2>
    <form id="weightForm" class="update-input-group" (submit)="updateWeight()">
      <input type="text" name="currentWeight" class="update-input-field" placeholder="Current Weight"
        [(ngModel)]="currentWeight" />
      <input type="text" name="lastWeekWeight" class="update-input-field" placeholder="Weight Last Week"
        [(ngModel)]="lastWeekWeight" />
      <input type="text" name="weightGoal" class="update-input-field" placeholder="Goal Weight"
        [(ngModel)]="weightGoal" />
      <button type="submit" class="update-submit-btn">Update</button>
    </form>
  </div>

  <div class="update-form-box">
    <h2 class="image-update-h2">Update Routine</h2>
    <form id="routineForm" class="update-input-group" (submit)="updateRoutine()">
      <input type="text" name="sleep" class="update-input-field" placeholder="Sleep" [(ngModel)]="sleep" />
      <input type="text" name="workoutRoutine" class="update-input-field" placeholder="Workout Routine"
        [(ngModel)]="workoutRoutine" />
      <input type="text" name="steps" class="update-input-field" placeholder="Daily Steps" [(ngModel)]="steps" />
      <button type="submit" class="update-submit-btn">Update</button>
    </form>
  </div>
</div>