.statistics {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.update-form-box {
  width: 30%;
  margin: 10px;
  padding: 1.5rem;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  box-sizing: border-box;
}

.image-update-h2 {
  text-align: center;
  padding: 30px 0;
  color: black;
  font-size: xx-large;
}

.update-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  color: black;
}

.update-submit-btn {
  width: 100%;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #4CAF50;
  border: 0;
  border-radius: 30px;
  outline: none;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.update-submit-btn:hover {
  background-color: #1a237e;
}

@media screen and (max-width: 768px) {
  .update-form-box {
    width: 45%;
    max-width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .update-form-box {
    width: 90%;
  }
}