.top-nav {
    background: #263238;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: #fff;
  }
  
  .top-nav-logo {
    font-size: 24px;
    font-weight: 700;
  }
  
  .top-nav-menu {
    display: flex;
    align-items: center;
  }
  
  .top-nav-menu-item {
    margin-left: 1rem;
  }
  
  .top-nav-menu-item span {
    color: #fff;
  }
  
  .top-nav-menu-item button.logout-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .top-nav-menu-item .profile-picture-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }

  