<div class="top-nav">
    <div class="top-nav-logo">Fitness-App</div>
    <div class="top-nav-menu">
        <div class="top-nav-menu-item">
            <span>Welcome {{ userData?.email }}!</span>
        </div>
        <div class="top-nav-menu-item">
            <button class="logout-button" (click)="logout()">Logout</button>
        </div>
        <div class="top-nav-menu-item">
            <button class="profile-picture-circle"> 
                <img src="{{userData?.profilePicture}}" alt="Profile Picture">
            </button>
        </div>
    </div>
</div>