<div class="widget-container">
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faWeightScale"></fa-icon>
    </div>
    <div class="value">
      <div class="top">Current Weight</div>
      <div class="bottom">{{ userData?.currentWeight }}</div>
    </div>
  </div>
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="faScaleUnbalanced"></fa-icon>
    </div>
    <div class="value">
      <div class="top">Weight Last Week</div>
      <div class="bottom">{{ userData?.weightLastWeek }}</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faMedal"></fa-icon>
    </div>
    <div class="value">
      <div class="top">Weight Goal</div>
      <div class="bottom">{{ userData?.weightGoal }}</div>
    </div>
  </div>
</div>