<div class="profile-container">
    <div class="update-form">
        <h2>Update Profile</h2>
        <form (submit)="updateProfile()">
            <div class="form-field">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required placeholder="First Name:"  [(ngModel)]="firstName">
            </div>
            <div class="form-field">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName"  name="lastName" required placeholder="Last Name:" [(ngModel)]="lastName">
            </div>
            <div class="form-field">
                <label for="gender">Gender:</label>   
                <select id="gender"  name="gender" [(ngModel)]="gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-field">
                <label for="height">Height:</label>
                <input type="text" id="height"  name="height" required placeholder="Height:" [(ngModel)]="height">
            </div>
            <div class="form-field">
                <label for="age">Age:</label>
                <input type="text" id="age"  name="age" required placeholder="Age:" [(ngModel)]="age">
            </div>
            <div class="form-field">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="Email:" [(ngModel)]="email">
            </div>
            <div class="form-field">
                <label for="profilePicture">Profile Picture:</label>
                <input type="text" id="profilePicture"  name="profilePicture" required placeholder="Url:"[(ngModel)]="profilePicture">
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" >Update</button>
                <button type="button" class="btn btn-secondary" (click)="redirectToProfile()" >Return</button>
            </div>
        </form>
    </div>
</div>