<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <!-- <fa-icon [icon]="faLocation"></fa-icon> -->
      </div>
      <div class="value">
        <div class="top">Daily Calories</div>
        <div class="bottom">Number</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <!-- <fa-icon [icon]="faShop"></fa-icon> -->
      </div>
      <div class="value">
        <div class="top">Daily Steps</div>
        <div class="bottom">Number</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <!-- <fa-icon [icon]="faBoxes"></fa-icon> -->
      </div>
      <div class="value">
        <div class="top">Weight Goal</div>
        <div class="bottom">Number</div>
      </div>
    </div>