<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="faUtensils"></fa-icon>
    </div>
    <div class="value">
      <div class="top">Daily Calories</div>
      <div class="bottom">{{ userData?.dailyCalories }} kcal</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faCubesStacked"></fa-icon>
    </div>
    <div class="value">
      <div class="top">Macronutrients</div>
      <div class="bottom">Protein: {{ userData?.macroNutrients.protein }} grams </div>
      <div class="bottom">Carbs: {{ userData?.macroNutrients.carbs }} grams </div>
      <div class="bottom">Fats: {{ userData?.macroNutrients.fats }} grams </div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faGlassWater"></fa-icon>
    </div>
    <div class="value">
      <div class="top">Daily Water Intake</div>
      <div class="bottom">{{ userData?.dailyWater }} liters</div>
    </div>
  </div>
</div>