<div class="widget-container">
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faBed"></fa-icon>
      </div>
      <div class="value">
        <div class="top">Sleep</div>
        <div class="bottom">Number</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faDumbbell"></fa-icon>
      </div>
      <div class="value">
        <div class="top">Workout Routine</div>
        <div class="bottom">Number</div>
      </div>
    </div>
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faCubesStacked"></fa-icon>
      </div>
      <div class="value">
        <div class="top">Macronutrients</div>
        <div class="bottom">Protein: </div>
        <div class="bottom">Carbs: </div>
        <div class="bottom">Fats: </div>
      </div>
    </div>